<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>计算机网络作业</title>
  </head>
  <body>
    <h1>展示</h1>
    <div class="container">
      <div class="info">
        <p>赵元鸣</p>
        <p>2211757</p>
        <p>计算机专业</p>
        <a href="https://github.com/NanGong-WenYa">github主页</a>
        <audio controls>
          <source src="./intro.mp3" type="audio/mpeg">
          音频信息
        </audio>
      </div>
    </div>
    <div class="logo">
      <img src="./myphoto.jpg" alt="logo" width="200">
    </div>
  </body>
</html>
